.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
        margin-bottom: 60px;
    }

    .title {
        margin: 10px 0;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }
}