.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 30px;
      height: 30px;
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 17.5px;
      left: 22.5px;

      @media only screen and (max-width: 600px) {
        bottom: 18.5px;
        left: 21.5px;
      }
    }
  }