.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 10px 25px;

      @media only screen and (max-width: 600px) {
        width: 40px;
        padding: 10px;
      }

      .logo {
        width: 60px;
        height: 60px;
      }

    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;

    @media only screen and (max-width: 600px) {
      width: 68%;
      font-size: 14px;
    }
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }