.menu-item {
    min-width: 30%;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -50px 7.5px 15px;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    
      & .background-image {
        transform: scale(1.1);
        transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
      }
    
      & .content {
        opacity: 0.9;
      }
    }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }

    .background-image {
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
    }
  
    .content {
      height: 90px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      opacity: 0.7;
      position: absolute;
      top: 380px;
  
      .title {
        margin-bottom: 6px;
        font-size: 22px;
        color: white;
      }
  
      .subtitle {
        font-size: 16px;
      }
    }
  }