body {
    font-family: 'Abel', sans-serif;
    padding: 20px 60px;
}

  @media only screen and (max-width: 600px) {
    body {
        padding: 20px;
    } 
  }

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
}