.sign-in-and-sign-up {
    width: 850px;
    display: flex;
    justify-content: space-between;
    margin: 30px auto;

    @media only screen and (max-width: 600px) {
        width: 380px;
        flex-direction: column;
        font-size: 14px;
    }
}