.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px;

    @media only screen and (max-width: 600px) {
      padding: 35px;
    }
  }

 
  
  
  
  